<div class="container" *ngIf="!modal && !updateModal ">
  <div class="header">
    <h1 class="">Student management system</h1>
    <button
      (click)="showModal()"
      type="button"
      class="btn btn-success"
      aria-label="Close"
    >
      Add student
    </button>
  </div>
  <table class="mx-5 my-4">
    <thead>
      <tr class="rows">
        <th class="data">Name</th>

        <th class="data">Email</th>
        <th class="data">Address</th>
        <th class="data">Gender</th>
        <th class="data">Age</th>
        <!-- <th class="data">image</th> -->
        <th class="data">action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students; let i = index" class="rows">
        <td class="data">{{ student.name }}</td>

        <td class="data">{{ student.email }}</td>
        <td class="data">{{ student.address }}</td>
        <td class="data">{{ student.gender }}</td>
        <td class="data">{{ student.age }}</td>
        <!-- <td class="data">image</td> -->
        <td class="data action">
          <i
            class="bi bi-trash text-danger icons"
            (click)="deleteStudent(i)"
          ></i>

          <i
            class="bi bi-pencil-square text-success icons"
            (click)="UpDate(student,i)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!--             form container modal -->
 <div class="moda" *ngIf="modal">
  <div class="containe">
    <h1>Student Registration Form</h1>
    <div class="form-container">
      <form
        #stuDetails="ngForm"
        (ngSubmit)="submit(stuDetails.value)"
        novalidate
      >
        <input type="text" name="name" placeholder="Enter name" ngModel />
        <input type="number" name="age" placeholder="Enter age" ngModel />
        <input type="email" name="email" placeholder="Enter email" ngModel />
        <input
          type="address"
          name="address"
          placeholder="Enter address"
          ngModel
        />

        <span class="gender-label">Select Gender:</span>

        <input
          class="radio"
          type="radio"
          name="gender"
          id="male"
          value="male"
          ngModel
        />
        <label for="male">Male</label>
        <input
          class="radio"
          type="radio"
          name="gender"
          id="female"
          value="female"
          ngModel
        />
        <label for="female">Female</label>
        <!-- <input type="file" name="image" placeholder="image" alt="image" /> -->

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<!--                      update modal form -->
                       <div class="moda" *ngIf="updateModal">
  <div class="containe">
    <h1>Student correction Form</h1>
    <div class="form-container">
      <form
        #stuDetails="ngForm"
        (ngSubmit)="upDated()"
      
        
      >
        <input type="text" name="name" placeholder="Enter name" [ngModel]="selectedStudent.name" />
        <input type="number" name="age" placeholder="Enter age" [ngModel]="selectedStudent.age" />
        <input type="email" name="email" placeholder="Enter email" [ngModel]="selectedStudent.email" />
        <input
          type="address"
          name="address"
          placeholder="Enter address"
          [ngModel]="selectedStudent.address"
        />

        <span class="gender-label">Select Gender:</span>

        <input
          class="radio"
          type="radio"
          name="gender"
          id="male"
          value="male"
          [ngModel]="selectedStudent.gender"
        />
        <label for="male">Male</label>
        <input
          class="radio"
          type="radio"
          name="gender"
          id="female"
          value="female"
          [ngModel]="selectedStudent.gender"
        />
        <label for="female">Female</label>
        <!-- <input type="file" name="image" placeholder="image" alt="image" /> -->

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>


