<div class="container">
  <div class="header">
    <h1 class="">Student management system</h1>
    <button routerLink="add-students" type="button" class="btn btn-primary" aria-label="Close">
      Add student
    </button>
  </div>
  <table class="mx-5 my-4">
    <thead>
      <tr class="rows">
        <th class="data">name</th>

        <th class="data">email</th>
        <th class="data">address</th>
        <th class="data">gender</th>
        <th class="data">image</th>
        <th class="data">action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="rows">
        <td class="data">name</td>

        <td class="data">email</td>
        <td class="data">address</td>
        <td class="data">gender</td>
        <td class="data">image</td>
        <td class="data">action</td>
      </tr>
    </tbody>
  </table>
</div>
