.container{
    padding: 40px;
    background-color: antiquewhite;
    text-align: center;
}
.form-container{
    margin: 30px;
    text-align: center;
    
}
.form-container form input{
    display: block;
    text-align: center;
    margin: auto;
    padding: 15px;
     margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  width: 400px;
}
