<div class="container">
  <h1>Student Registration Form</h1>
  <div class="form-container">
    <form action="">
      <input type="text" name="name" placeholder="enter  name" />
      <input type="email" name="email" placeholder="enter  email" />
      <input type="address" name="address" placeholder="enter  address" />
      Select gender
      <input class="radio" type="radio" name="gender" id="male" value="male">
      Male<label for="male"></label>
      <input class="radio" type="radio" name="gender" id="female" value="female">Female
      <label for="female"></label>
      <input type="file" />
      <button type="button" class="btn btn-primary" aria-label="Close">
        Submit
      </button>
    </form>
  </div>
</div>
